{% extends "base.html" %}


{% block head -%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
{%- endblock %}


{% block body -%}
    <form action="/" method="POST" accept-charset="utf-8">
        <textarea name="content" placeholder="Content..." autofocus required></textarea>
        <div class="right">
            <label>
                Delete after
                <select name="timeout" required>
                    <option value="{{ 60 * 5 }}">5 minutes</option>
                    <option value="{{ 60 * 30 }}">30 minutes</option>
                    <option value="{{ 60 * 60 }}">1 hour</option>
                    <option value="{{ 60 * 60 * 2}}" selected>2 hours</option>
                    <option value="{{ 60 * 60 * 24 }}">1 day</option>
                    <option value="{{ 60 * 60 * 24 * 2 }}">2 days</option>
                </select>
            </label>
            <button type="submit"> Submit </button>
        </div>
    </form>
    <a href="/help">How to use <em>bytebin</em>?</a>
{%- endblock %}
