{% extends "base.html" %}


{% block head -%}
<style type="text/css">
    html, body  { margin: 0; padding: 5px; }
    textarea    { margin: 0; padding: 10px; border: none; min-height: 500px; width: 100%; box-sizing: border-box; }
    a           { color: #498AD1; text-decoration: none; }
    a:hover     { color: #BC241F; }
    .hidden     { display: none; }
    .right      { text-align: right; }
</style>
{%- endblock %}


{% block body -%}
    <form action="/" method="POST" accept-charset="utf-8">
        <textarea name="content" placeholder="Content..." autofocus required></textarea>
        <div class="right">
            <label>
                Delete after
                <select name="timeout" required>
                    <option value="300">5 minutes</option>
                    <option value="1800">30 minutes</option>
                    <option value="3600" selected>1 hour</option>
                    <option value="7200">2 hours</option>
                    <option value="86400">1 day</option>
                </select>
            </label>
            <button type="submit"> Submit </button>
        </div>
    </form>
    <a href="/help">How to use <em>bytebin</em>?</a>
{%- endblock %}
