{% extends "base.html" %}


{% block head -%}
<style type="text/css">
    html, body  { margin: 0; padding: 5px; }
    textarea    { padding: 10px; border: none;}
</style>
{%- endblock %}


{% block body -%}
    <form action="/" method="POST" accept-charset="utf-8">
        <textarea name="data" cols="80" rows="30" placeholder="Content..." required></textarea>
        <hr>
        <label>
            Timeout (in minutes)
            <input type="number" min="60" max="172800" step="60" value="360" name="timeout" required>
        </label>
        <button type="submit">Submit</button>
    </form>
    <p>
        To upload file from console:
        <pre>
            <code>cat &lt;file&gt; | curl -F 'data=&lt;-' http://{{ request.host }}</code>
        </pre>
    </p>
{%- endblock %}
